version: '3'
services:
  bot:
    image: ghcr.io/burntcookie90/remnant-discord-bot:latest
    environment:
      - DISCORD_TOKEN=
    volumes:
      - /mnt/runtime/appdata/remnant-discord-bot:/app/data
